[submodule "third_party/contracts-elcol/third_party/canonical-weth"]
	path = third_party/contracts-elcol/third_party/canonical-weth
	url = https://github.com/gnosis/canonical-weth.git
	ignore = dirty
[submodule "third_party/contracts-elcol/third_party/safe-contracts"]
	path = third_party/contracts-elcol/third_party/safe-contracts
	url = https://github.com/gnosis/safe-contracts
	ignore = dirty
